.main__intro-photo {
  width: 100%;
  margin: 92px auto 0;
}
@media screen and (max-width: 1024px) {
  .main__intro-photo {
    margin: 88px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .main__intro-photo {
    margin: 64px auto 0;
  }
}
