.main__places {
  margin: 92px auto 0;
}
@media screen and (max-width: 1024px) {
  .main__places {
    margin: 88px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .main__places {
    margin: 64px auto 0;
  }
}
