.main__lead {
  width: calc(100% - 296px);
  margin: 56px auto 0;
}
@media screen and (max-width: 1280px) {
  .main__lead {
    width: calc(100% - 96px);
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 1024px) {
  .main__lead {
    width: 100%;
    margin: 48px auto 0;
  }
}
@media screen and (max-width: 768px) {
  .main__lead {
    width: 100%;
    margin: 48px auto 0;
  }
}
