.footer__nav-list {
  display: grid;
  grid-template-columns: repeat(5, max-content);
  column-gap: 18px;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .footer__nav-list {
    grid-template-columns: max-content;
    grid-template-rows: repeat(5, min-content);
    row-gap: 32px;
    column-gap: 0;
  }
}
