.places__place-list {
  width: calc(100% - 296px);
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(5, min-content);
  row-gap: 80px;
}
@media screen and (max-width: 1279px) {
  .places__place-list {
    width: calc(100% - 96px);
  }
}
@media screen and (max-width: 1023px) {
  .places__place-list {
    width: calc(100% - 48px);
    row-gap: 73px;
  }
}
@media screen and (max-width: 767px) {
  .places__place-list {
    width: 100%;
    row-gap: 50px;
  }
}
